---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <script>
    setTimeout(() => {
      window.location.href = "/"
    }, 5000)
  </script>

  <div class="flex min-h-[80vh] flex-col items-center justify-center text-center">
    <h1 class="mb-4 text-4xl font-bold">404</h1>
    <p class="mb-4 text-xl">Page not found</p>
    <p class="text-gray-600">
      Redirecting to home page in <span id="countdown">5</span> seconds...
    </p>
    <p class="mt-4 text-gray-500">
      Or click <a href="/" class="text-blue-500 hover:text-blue-600">here</a> to go back to the home
      page
    </p>
  </div>
</Layout>
