---
import Github from "@components/footer/Github.astro"
import Twitter from "@components/footer/Twitter.astro"

const today = new Date()
---

<footer class="sticky bottom-0">
	&copy; {today.getFullYear()} Your name here. All rights reserved.
	<div class="bg-primary-200 flex flex-row justify-center space-x-4">
		<Twitter />
		<Github />
	</div>
</footer>
