---
import Github from "@components/social/Github.astro"
import Twitter from "@components/social/Twitter.astro"
import { SITE_AUTHOR } from "@source/consts"

const today = new Date()
---

<footer class="sticky bottom-0 flex-row space-x-8 space-y-4 pt-4 text-primary-50">
	<p class="flex justify-center">
		&copy; {today.getFullYear()}
		{SITE_AUTHOR}. All rights reserved.
	</p>
	<div class="flex flex-row justify-center space-x-4 pb-4">
		<Twitter />
		<Github />
	</div>
</footer>
