---
import MainLayout from "./MainLayout.astro"

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<MainLayout title={title}>
	<main class="container mx-auto w-2/3">
		<article>
			<slot />
		</article>
	</main>
</MainLayout>
