---
import Footer from "@components/footer/Footer.astro"
import Seo from "@components/head/Seo.astro"
import Header from "@components/header/Header.astro"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<Seo title={title} />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
