---
import MainLayout from "./MainLayout.astro"

interface Props {
	name: string
}
const { name } = Astro.props
---

<MainLayout title={name}>
	<main class="container mx-auto w-2/3">
		<article>
			<slot />
		</article>
	</main>
</MainLayout>
